body {
	background-color: var(--color-background);
	color: var(--color-text);
	font-family: var(--font-family-base);
	font-size: var(--font-size-body);
	min-height: 100vh;
}

a {
	color: var(--color-accent);
}

a:hover {
	color: var(--color-text-poca-opacidad);
}

main {
	width: min(90%, 1200px);
	margin: 0 auto;
}

section {
	padding: var(--space-lg) 0;
}

.project-card__link {
	text-decoration: none;
}

.project-card {
	border-radius: var(--radius-md);
}

.project-card img {
	height: 250px;
	width: 100%;
	object-fit: cover;
	border-radius: var(--radius-md);
	
}

.contact__socials {
	display: flex;
	gap: var(--space-md);
}