:root {
	/* Colors */
	--color-background: #000000;
	--color-surface: #232323;
	--color-text: #fff6fb;
	--color-muted: #a3a3a3;
	--color-accent: #ff0088;
    --color-text-hero: #19000d;

	/* Spacing */
	--space-xs: 0.5rem;
	--space-sm: 1rem;
	--space-md: 2rem;
	--space-lg: 4rem;
	--space-xl: 8rem;

	/* Typography */
	--font-size-body: 1rem;
	--font-size-hero: clamp(4rem, 15vw, 12rem);
	--font-family-base: "dm mono", monospace;
	--font-family-hero: "roboto flex", sans-serif;
	

	/* Border Radius */
	--radius-sm: 4px;
	--radius-md: 8px;
}