.hero {
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;

	gap: var(--space-sm);

	padding-top: var(--space-md);
}

.hero__title {
	font-size: var(--font-size-hero);
	line-height: 0.85;

	width: 100vw;
	margin-left: calc(-50vw + 50%);
}